<body style="background-color: #f2f2f2; margin: 0;">
    <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="500"
        style="border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); margin: 0 auto; padding: 0;"
        cellspacing="0">
        <tr>
            <td align="center" style="padding: 0; margin: 0;">
                <img src="https://avisconcours.com/static/images/logoIcon/logo.png" alt="Logo de Votre Site" width="200"
                    style="display: block; margin: 0 auto;">
                <h3 style="text-align: center; margin-top: 10px; margin-bottom: 10px; max-width: 80%;">Réinitialisation
                    de Mot de Passe</h3>
                <p style="text-align: center; margin-bottom: 10px; max-width: 80%;">Vous avez demandé la
                    réinitialisation de votre mot de passe sur <strong>GESTHOTEL </strong>. Cliquez sur le bouton
                    ci-dessous pour procéder :</p>
                <a href="http://127.0.0.1:8000/restaurer_motdepasse/confirmation/{uidb64}/{token}/" class="btn-confirm"
                    style="display: inline-block; padding: 10px 20px; background-color: blue; color: white; text-decoration: none; border-radius: 5px;">Réinitialiser
                    le Mot de Passe</a>
                <p style="text-align: center; margin-top: 10px; margin-bottom: 0; max-width: 80%;">Si vous n'avez pas
                    demandé la réinitialisation de votre mot de passe, veuillez ignorer cet e-mail.</p>
            </td>
        </tr>
    </table>
</body>