{% load static %}
{% include 'header.html' %}
{% load humanize %}

<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Listes du personnel administrif</h4>
                <h6>Manager votre personnel</h6>
            </div>
            <div class="page-btn">
                <a href="{% url 'ajouter_personnel' %}" class="btn btn-added">
                    <img src="{% static 'img/icons/plus.svg' %}" alt="img" class="me-2">Ajouter un personnel
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">

                        <div class="search-input">
                            <a class="btn btn-searchset">
                                <img src="{% static 'img/icons/search-white.svg' %}" alt="img">
                            </a>
                        </div>
                    </div>
                    <div class="wordset">
                        <ul>
                            <li>
                                <a href="{% url 'pdf_liste_personnels' %}" target="_blank" data-bs-toggle="tooltip"
                                    data-bs-placement="top" title="pdf">
                                    <img style="width: 40px;" src="{% static 'img/icons/pdf.svg' %}" alt="img">
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}

            <table class="table datanew">
                <thead>
                    <tr>
                        <th>Photo</th>
                        <th>Nom et Prénoms</th>
                        <th>Date de naissance</th>
                        <th>Lieu de naissance</th>
                        <th>Nationalité</th>
                        <th>Numéro CNI</th>
                        <th>Genre</th>
                        <th>Poste</th>
                        <th>Date d'embauche</th>
                        <th>Statut</th>
                        <th>Adresse</th>
                        <th>Téléphone</th>
                        <th>Email</th>
                        <th>Image de profil</th>
                        <th>Pièce identité - Recto</th>
                        <th>Pièce identité - Verso</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for personnel in personnels %}
                    <tr>
                        <td class="productimgname">
                            {% if personnel.profile_image %}
                            <a href="javascript:void(0);" class="product-img">
                                <img src="{{ personnel.profile_image.url }}" alt="profile">
                            </a>
                            {% else %}
                            <a href="javascript:void(0);" class="product-img">
                                <img src="{% static 'img/profiles/profile3.jpg' %}" alt="default-profile">
                            </a>
                            {% endif %}
                        </td>
                        <td>{{ personnel.nom_prenom }}</td>
                        <td>{{ personnel.date_naissance }}</td>
                        <td>{{ personnel.lieu_naissance }}</td>
                        <td>{{ personnel.nationalite }}</td>
                        <td>{{ personnel.numero_cni }}</td>
                        <td>{{ personnel.genre }}</td>
                        <td>{{ personnel.poste }}</td>
                        <td>{{ personnel.date_embauche }}</td>
                        <td>{{ personnel.statut }}</td>
                        <td>{{ personnel.adresse }}</td>
                        <td>{{ personnel.telephone }}</td>
                        <td>{{ personnel.email }}</td>
                        <td>{{ personnel.profile_image }}</td>
                 
                        <td>
                            {% if personnel.piece_identite_recto %}
                            <a href="{{ personnel.piece_identite_recto.url }}" target="_blank">Voir la pièce recto</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if personnel.piece_identite_verso %}
                            <a href="{{ personnel.piece_identite_verso.url }}" target="_blank">Voir la pièce verso</a>
                            {% endif %}
                        </td>
                        <td>
                            <a class="me-3" href="{% url 'modifier_personnel' personnel.pk %}">
                                <img src="{% static 'img/icons/edit.svg' %}" alt="edit">
                            </a>
                            <a class="me-3" href="{% url 'supprimer_personnel' personnel.pk %}"
                                onclick="return confirmDelete();">
                                <img src="{% static 'img/icons/delete.svg' %}" alt="delete">
                            </a>
                            <script>
                                function confirmDelete() {
                                    return confirm("Êtes-vous sûr de vouloir supprimer cet personnel ?");
                                }
                            </script>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>
</div>

</div>
</div>
</div>

<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/feather.min.js' %}"></script>
<script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'plugins/sweetalert/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'plugins/sweetalert/sweetalerts.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

</body>

</html>