{% load static %}
{% include 'header.html' %}

<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Modifier une reservation de chambre</h4>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">
                            {{ message }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
        
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="{{ form.chambre.id_for_label }}">Chambre</label>
                                {{ form.chambre }}
                            </div>
                        </div>
        
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="{{ form.date_debut.id_for_label }}">Date de début</label>
                                {{ form.date_debut }}
                            </div>
                        </div>
        
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="{{ form.heure_debut.id_for_label }}">Heure de début</label>
                                {{ form.heure_debut }}
                            </div>
                        </div>
        
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="{{ form.date_fin.id_for_label }}">Date de fin</label>
                                {{ form.date_fin }}
                            </div>
                        </div>
        
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="{{ form.heure_fin.id_for_label }}">Heure de fin</label>
                                {{ form.heure_fin }}
                            </div>
                        </div>
        
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="{{ form.client.id_for_label }}">Client</label>
                                {{ form.client }}
                            </div>
                        </div>
        
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <div class="form-check">
                                    {{ form.client_anonyme }}
                                    <label class="form-check-label" for="{{ form.client_anonyme.id_for_label }}">Client anonyme</label>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-submit me-2">Enregistrer</button>
                        <a href="{% url 'index' %}" class="btn btn-cancel">Annuler</a>
                    </div>
                </form>
            </div>
        </div>
        
        
        
        
        

    </div>
</div>
</div>
<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/feather.min.js' %}"></script>
<script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'plugins/sweetalert/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'plugins/sweetalert/sweetalerts.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>

</html>