{% load static %}
{% include 'header.html' %}

<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Modifier un utilisateur</h4>
            </div>
        </div>

  <div class="card">
      <div class="card-body">
          <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                
                  <div class="col-lg-3 col-sm-6 col-12">
                      <div class="form-group">
                          <label for="{{ form.nom_complet.id_for_label }}">Nom et Prénoms</label>
                          {{ form.nom_complet }}
                      </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-12">
                      <div class="form-group">
                          <label for="{{ form.email.id_for_label }}">Email</label>
                          {{ form.email }}
                      </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 col-12">
                      <div class="form-group">
                          <label for="{{ form.fonction.id_for_label }}">Fonction</label>
                          {{ form.fonction }}
                      </div>
                  </div>
                  <div class="col-lg-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="{{ form.password.id_for_label }}">Nouveau mot de passe</label>
                        <input type="password" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" class="form-control" value="{{ form.password.value }}">
                    </div>
                </div>
                
                  <div class="col-lg-6">
                      <div class="form-group">
                          <label for="{{ form.profile_image.id_for_label }}">Mise à jour de l'Image de profil</label>
                          {{ form.profile_image }}
                      </div>
                  </div>
                  <div class="col-md-12">
                      <button type="submit" class="btn btn-submit me-2">Enregistrer</button>
                      <a href="{% url 'listes_utilisateurs' %}" class="btn btn-cancel">Retourner</a>
                  </div>
              </div>
          </form>
      </div>
  </div>


        

    </div>
</div>
</div>
<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/feather.min.js' %}"></script>
    <script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'plugins/sweetalert/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'plugins/sweetalert/sweetalerts.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>